<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AliBuu.DataAccess.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AliBuu.DataAccess.Settings1>
            <setting name="DataAccess" serializeAs="String">
                <value>Server=localhost;Database=AliBuu;Trusted_Connection=True;</value>
            </setting>
        </AliBuu.DataAccess.Settings1>
    </applicationSettings>
</configuration>